.home {
  color: rgb(1, 0, 0);
  width: 100vw;
  min-width: 100vw;
  background-image: url("/dealsss.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 40px;
}

.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.home-text {
  /* font-size: large; */
  flex: 1;
  /* max-width: 50%; */
  text-align: center;
}

.highlight {
  color: #ffae3e;
}
.highlight2 {
  color: rgb(6, 6, 130);
}

.home-buttons {
  margin-top: 2rem;
}

.home-buttons .btn {
  display: inline-block;
  margin: 0 1rem;
  padding: 0.75rem 1.75rem;
  background-color: #ffae3e;
  color: white;
  text-decoration: wavy;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.home-buttons .btn:hover {
  background-color: #ffae3e;
}

.image-container1 {
  flex: 1;
  /* max-width: 70%; */
  display: flex;
  justify-content: flex-end;
}

.imagehome {
  width: 100%;
  max-width: 550px;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .imagehome {
    max-width: 100%;
    margin-top: 20px;
  }
}
